* {
    box-sizing: border-box;
  }
  
body {
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-display: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
  
.container {
    width: 670px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .square {
        width: 200px;
        height: 200px;
        background-color: #383636;
        margin: 10px;
        cursor: pointer;
    }
}
  
 
@media (max-width: 876px){
}